<%= render 'users/profile', user: @user %>
<%= render 'books/form' %>

<h1>Users</h1>

<% @users.each do |user| %>
  <table>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
    <tr>
      <td><%= image_tag user.get_profile_image(80,80) %></td>
      <td><%= user.name %></td>
      <td><%= link_to 'show', user_path(user) %></td>
    </tr>
  </table>
<% end %>
