<div class="container">
    <%= render 'books/error', book: @book %>
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/profile', user: @user %>
      <%= render 'books/form' %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <div>
      <% @user.books.each do |book| %>
        <table>
          <tr>
            <th></th>
            <th>title</th>
            <th>opinion</th>
          </tr>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= image_tag @user.get_profile_image(80,80) %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(book) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td><%= book.body %></td>
          </tr>
        </table>
      <% end %>
      </div>
    </div>
  </div>
</div>