<h1>New Book</h1>
<% if Book.new.errors.any? %>
  <%= Book.new.errors.count %>件のエラーが発生しました
  <ul>
    <% Book.new.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: Book.new do |f| %>
  <div>
    <%= f.label:Title %></br>
    <%= f.text_field:title %>
  </div>
  <div>
    Opinion</br>
    <%= f.text_area:body %>
  </div>
  <div>
    <%= f.submit 'Create' %>
  </div>
<% end %>